/* Styles */
@import 'reset.css';
@import 'font.css';

/* Default */
	/* color_default: #91b1b8 */
	.center {
		width: 100%;
		display: block;
		max-width: 1780px;
		margin: 0 auto;
		position: relative;
	}
	.left {
		float: left;
	}
	body {
		font-family: 'calibri';
	}
	img {
		display: block;
	}
	a {
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-ms-transition: 0.5s;
		-o-transition: 0.5s;
		transition: 0.5s;
		text-decoration: none;
		color: #000;
	}

/* Header */
	header {
		width: 100%;
		text-align: center;
		padding: 2rem 0;
	}

	header .center {
		display: table;
	}

	header h1, header nav, header .follow {
		display: table-cell;
		vertical-align: middle;
	}

	header h1 {
		text-align: left;
		width: 18rem;
	}

	header nav {
		margin: 0 auto;
		text-align: center;
	}

	header nav li {
		display: inline;
	}

	header nav li + li {
		margin-left: 3rem;
	}

	header nav a {
		font-size: 1.25rem;
		text-transform: uppercase;
	}

	header a.active, header a:hover {
		color: #91b1b8;
	}

	header .follow {
		text-align: right;
		width: 16rem;
		text-transform: uppercase;
		font-size: 1rem;
	}

	header .follow:after {
		content: '';
		margin-left: 0.5rem;
		background: url(../images/shared/insta.png) center no-repeat;
		background-size: contain;
		display: inline-block;
		vertical-align: middle;
		width: 2.5rem;
		height: 2.5rem;
	}

/* Container */
	.container.center {
		width: 100%;
		overflow: hidden;
		margin-top: 1rem;
		background-color: #91b1b8;
	}

	.container.inner {
		padding: 3rem 3rem 0;
	}

	.container.contact {
		padding: 3rem 0 0 3rem;
	}

	.container .col-25 {
		width: 25%;
	}
	.container .col-30 {
		width: 28%;
	}
	.container .col-40 {
		width: 38%;
	}
	.container .col-50 {
		width: 48%;
	}
	.container .col-60 {
		width: 60%;
	}
	.container .col-70 {
		width: 68%;
	}

	.container .col-50 + .col-50,
	.container .col-70 + .col-30,
	.container .col-40 + .col-60 {
		margin-left: 2%;
	}

	.container .image-full {
		width: 100%;
	}

	.container h2 {
		font-size: 2.25rem;
		color: #ffffff;
	}

	.container h3 {
		font-size: 1.5rem;
		color: #ffffff;
	}

	.container a {
		color: #ffffff;
	}

	.container a:hover {
		color: #000000;
	}

	.container p {
		color: #ffffff;
		font-size: 1.25rem;
		margin-bottom: 2rem;
		letter-spacing: 0.09rem;
		line-height: 1.6rem;
	}

	.container .find-places {
		margin-bottom: 2.4rem;
		line-height: 2.2rem;
	}

	.container .vertical {
		padding-top: 10rem;
	}

	.container form {
		margin-top: 3rem;
		width: 100%;
	}

	.container form input,
	.container form textarea {
		border: 0;
		width: 100%;
		display: block;
		font-family: "calibri";
		font-size: 2.25rem;
		padding: 0.2rem 0.6rem;
		color: #ffffff;
	}

	::-webkit-input-placeholder {
		color: #ffffff;
	}
	::-moz-placeholder {
		color: #ffffff;
	}
	:-ms-input-placeholder {
		color: #ffffff;
	}
	:-moz-placeholder {
		color: #ffffff;
	}

	.container form .bg-lighten {
		background-color: #c6d7da;
	}

	.container form .bg-darken {
		background-color: #b0c7cc;
	}

	.container form input {
		margin-bottom: 2rem;
	}

	.container form textarea {
		resize: vertical;
		min-height: 16rem;
	}

	.container form [type=submit] {
		background-color: transparent;
		font-size: 1.25rem;
		text-align: left;
		margin-top: 0.5rem;
		width: auto;
		cursor: pointer;
	}

/* Gallery */
	.container .swiper-buttons {
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		width: 3.5rem;
		height: 4rem;
	}
	.container .swiper-button-prev {
		background-image: url(../images/shared/arrow-left.png);
	}
	.container .swiper-button-next {
		background-image: url(../images/shared/arro-right.png);
	}
	.container .gallery-view {
		width: 90%;
		margin: 3.6rem auto 6rem;
		position: relative;
	}
	.container .gallery-view .swiper-button-prev {
		left: -4.7rem;
	}
	.container .gallery-view .swiper-button-next {
		right: -4.7rem;
	}

/* Modal */
	.modal {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1000;
		background-color: rgba(145,177,184,0.76);
	}
	.modal .modal-content {
		width: 50%;
		position: relative;
		margin: 0 auto;
	}
	.modal .swiper-container img {
		width: 100%;
	}
	.modal .swiper-buttons {
		top: 41rem;
	}
	.modal .swiper-button-prev {
		left: -4.7rem;
	}
	.modal .swiper-button-next {
		right: -4.7rem;
	}
	.modal .close {
		color: #fff;
		position: absolute;
		right: 1.6rem;
		top: 1.6rem;
		cursor: pointer;
		background: url(../images/shared/close.png) center no-repeat;
		background-size: 100%;
		display: block;
		text-indent: -9999px;
		width: 4rem;
		height: 4rem;
		z-index: 10;
	}

/* Medias */
	/* Mobile */
	@media only screen and (max-width: 768px) {}

	/* Tablet */
	@media only screen and (min-width: 768px) and (max-width: 1024px) {}

	/* Desktop */
	@media only screen and (max-width: 1780px) {
		.center {
			/*padding: 0 1rem;*/
			max-width: 95%;
		}
	}