/* Styles */
@import 'reset.css';
@import 'font.css';

/* Default */
	/* color_default: #91b1b8 */
	html {
		font-size: 14px;
	}
	.center {
		width: 100%;
		display: block;
		max-width: 1780px;
		margin: 0 auto;
		position: relative;
	}
	.left {
		float: left;
	}
	body {
		font-family: 'calibri';
	}
	img {
		display: block;
	}
	b {
		font-weight: bold;
	}
	a {
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-ms-transition: 0.5s;
		-o-transition: 0.5s;
		transition: 0.5s;
		text-decoration: none;
		color: #000;
	}
	::-webkit-input-placeholder {
		color: #ffffff;
	}
	::-moz-placeholder {
		color: #ffffff;
	}
	:-ms-input-placeholder {
		color: #ffffff;
	}
	:-moz-placeholder {
		color: #ffffff;
	}

/* Header */
	header {
		width: 100%;
		text-align: center;
		padding: 2rem 0;
	}

	header .center {
		display: table;
	}

	header .mobile-menu {
		display: none;
	}

	header h1, header nav, header .follow {
		display: table-cell;
		vertical-align: middle;
	}

	header h1 {
		text-align: left;
		width: 18rem;
	}

	header nav {
		margin: 0 auto;
		text-align: center;
	}

	header nav li {
		display: inline;
	}

	header nav li + li {
		margin-left: 3rem;
	}

	header nav a {
		font-size: 1.25rem;
		text-transform: uppercase;
	}

	header a.active, header a:hover {
		color: #91b1b8;
	}

	header .follow {
		text-align: right;
		width: 16rem;
		text-transform: uppercase;
		font-size: 1rem;
	}

	header .follow:after {
		content: '';
		margin-left: 0.5rem;
		background: url(../images/shared/insta.png) center no-repeat;
		background-size: contain;
		display: inline-block;
		vertical-align: middle;
		width: 2.5rem;
		height: 2.5rem;
	}

/* Container */
	.container.center {
		width: 100%;
		overflow: hidden;
		margin-top: 1rem;
		background-color: #91b1b8;
	}

	.container.inner {
		padding: 3rem 3rem 0;
	}

	.container.contact {
		padding: 3rem 0 0 3rem;
	}

	.container .col-25 {
		width: 25%;
	}
	.container .col-30 {
		width: 28%;
	}
	.container .col-50 {
		width: 48%;
	}
	.container .col-70 {
		width: 68%;
	}

	.container .col-50 + .col-50,
	.container .col-70 + .col-30 {
		margin-left: 2%;
	}

	.container .image-full {
		width: 100%;
	}

	.container h2 {
		font-size: 2.25rem;
		color: #ffffff;
	}

	.container h3 {
		font-size: 1.5rem;
		color: #ffffff;
	}

	.container a {
		color: #ffffff;
	}

	.container a:hover {
		color: #000000;
	}

	.container p {
		color: #ffffff;
		font-size: 1.25rem;
		margin-bottom: 2rem;
		letter-spacing: 0.09rem;
		line-height: 1.6rem;
	}

	.container .find-places {
		margin-bottom: 2.4rem;
		line-height: 2.2rem;
	}

	.container .vertical {
		padding-top: 10rem;
	}

/* Contato */
	.container form {
		margin-top: 3rem;
		width: 100%;
	}

	.container form input,
	.container form textarea {
		border: 0;
		width: 100%;
		display: block;
		font-family: "calibri";
		font-size: 2rem;
		padding: 0.2rem 0.6rem;
		color: #ffffff;
	}

	.container form .bg-lighten {
		background-color: #c6d7da;
	}

	.container form .bg-darken {
		background-color: #b0c7cc;
	}

	.container form input {
		margin-bottom: 2rem;
	}

	.container form textarea {
		resize: vertical;
		min-height: 16rem;
	}

	.container form [type=submit] {
		background-color: transparent;
		font-size: 1.5rem;
		text-align: left;
		margin-top: 0.5rem;
		width: auto;
		cursor: pointer;
	}

	.container .success-message {
		margin-top: 1rem;
	}

/* Gallery */
	.container .swiper-buttons {
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		width: 3rem;
		height: 3.5rem;
	}
	.container .swiper-button-prev {
		background-image: url(../images/shared/arrow-left.png);
	}
	.container .swiper-button-next {
		background-image: url(../images/shared/arro-right.png);
	}
	.container .gallery-view {
		width: 88%;
		margin: 3.6rem auto 6rem;
		position: relative;
	}
	.container .gallery-view .image-full {
		max-width: 55%;
		margin: 0 auto;
	}
	.container .gallery-view h3 {
		text-align: center;
		margin-bottom: 1.5rem;
	}
	.container .gallery-view .swiper-button-prev {
		left: -3.6rem;
	}
	.container .gallery-view .swiper-button-next {
		right: -3.6rem;
	}

/* Modal */
	.modal {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 100;
		background-color: rgba(145,177,184,0.76);
	}
	.modal .modal-content {
		width: 50%;
		position: relative;
		margin: 0 auto;
	}
	.modal .swiper-container img {
		width: 100%;
	}
	.modal .swiper-buttons {
		top: 50%;
	}
	.modal .swiper-button-prev {
		left: -4.7rem;
	}
	.modal .swiper-button-next {
		right: -4.7rem;
	}
	.modal .close {
		color: #fff;
		position: absolute;
		right: 1.3rem;
		top: 1.3rem;
		cursor: pointer;
		background: url(../images/shared/close.png) center no-repeat;
		background-size: 100%;
		display: block;
		text-indent: -9999px;
		width: 2.8rem;
		height: 3.1rem;
		z-index: 10;
	}

/* Medias */
	/* Mobile */
	@media only screen and (max-width: 768px) {
		header h1 {
			width: 10rem;
		}
		header h1 a, header h1 img {
			width: 100%;
			display: block;
		}
		.container .col-25,
		.container .col-30,
		.container .col-50,
		.container .col-70 {
			width: 100%;
		}
		.container .col-50 + .col-50,
		.container .col-70 + .col-30 {
			margin-left: 2%;
		}
		.container.contact, .container.inner {
			padding: 1rem;
		}
		.container article + article {
			margin-top: 2rem
		}
		.container h2 {
			width: 8rem;
		}
		.container .find-places h2 {
			width: 100%;
		}
		.container h2 img {
			width: 100%;
		}
		.container form {
			margin-top: 2rem;
		}
		.container form input {
			margin-bottom: 1rem;
		}
		.container form input, .container form textarea {
			font-size: 1.6rem;
		}

		.container h2 {
			font-size: 1.6rem;
		}
		.container h3 {
			font-size: 1rem;
		}
		.container .gallery-view {
			margin: 2rem auto;
		}

		/* Modal */
		.modal .modal-content {
			width: 92%;
		}
		.modal .close {
			right: 1rem;
			top: 1rem;
			width: 2rem;
			height: 2.2rem;
		}
		.container .swiper-buttons {
			display: none;
		}
	}

	/* Tablet */
	@media only screen and (min-width: 768px) and (max-width: 1024px) {
		.container .swiper-buttons {
			width: 2rem;
			height: 2rem;
		}
		.modal .close {
			right: 1rem;
			top: 1rem;
			width: 2.2rem;
			height: 2.5rem;
		}
		.container .swiper-buttons {
		    height: 2.4rem;
		}
		.container h2 {
			font-size: 1.8rem;
		}
		.container h3 {
			font-size: 1.2rem;
		}
		.container .gallery-view {
			width: 80%;
		}
	}

	/* Desktop */
	@media only screen and (max-width: 1420px) {
		header ul, header .follow {
			display: none;
		}
		header .mobile-menu {
			display: block;
		}

		header .mobile-menu {
			width: 2rem;
			height: 1.7rem;
			float: right;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .5s ease-in-out;
			-moz-transition: .5s ease-in-out;
			-o-transition: .5s ease-in-out;
			transition: .5s ease-in-out;
			cursor: pointer;
		}

		header .mobile-menu span {
			display: block;
			position: absolute;
			height: 0.4rem;
			width: 100%;
			background: #91b1b8;
			border-radius: 9px;
			opacity: 1;
			left: 0;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .25s ease-in-out;
			-moz-transition: .25s ease-in-out;
			-o-transition: .25s ease-in-out;
			transition: .25s ease-in-out;
		}

		header .mobile-menu span:nth-child(1) {
			top: 0;
		}

		header .mobile-menu span:nth-child(2) {
			top: 0.7rem;
		}

		header .mobile-menu span:nth-child(3) {
			top: 1.4rem;
		}

		header .mobile-menu.open span:nth-child(1) {
			top: 0.6rem;
			-webkit-transform: rotate(135deg);
			-moz-transform: rotate(135deg);
			-o-transform: rotate(135deg);
			transform: rotate(135deg);
		}

		header .mobile-menu.open span:nth-child(2) {
			opacity: 0;
			left: -2rem;
		}

		header .mobile-menu.open span:nth-child(3) {
			top: 0.6rem;
			-webkit-transform: rotate(-135deg);
			-moz-transform: rotate(-135deg);
			-o-transform: rotate(-135deg);
			transform: rotate(-135deg);
		}

		header ul.open, header .follow.open {
			display: block;
		}
		header ul.open {
			position: absolute;
		    width: 100%;
		    left: 0;
		    background: #c6d7da;
		    top: 5rem;
		    z-index: 101;
		    padding-bottom: 5rem;
		}
		header ul.open li {
			display: block;
			margin: 0;
			padding: 0 1.5rem;
		}
		header ul.open li a {
			color: #ffffff;
			width: 100%;
			display: block;
			margin: 1rem 0 0;
			padding-bottom: 1rem;
			border-bottom: 1px solid #ffffff;
		}
		header .follow.open {
			position: absolute;
			top: 22.8rem;
			left: 0;
			z-index: 102;
			width: 100%;
			color: #ffffff;
			text-align: center;
		}

		.container .vertical {
			padding-top: 0;
		}
	}
	@media only screen and (max-width: 1780px) {
		.center {
			max-width: 95%;
		}
	}